<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>" "</title>
    <link rel="stylesheet" href="../static/layout.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <h1>MOVIE MART</h1>
            </div>
            
            <div class="search-bar">
                <form action="/search" method="GET">
                    <input type="text" name="query" placeholder="Search for movies...">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="user-nav">
                <div class="nav-item">
                    <a href="/home" class="nav-link">
                        Home
                   </a>
                </div>
            <div class="user-nav">
                <div class="nav-item">
                    <a href="/cart" class="nav-link">
                        <span class="cart-icon">🛒</span> Cart
                    </a>
                </div>
                
                <div class="nav-item">
                    <div class="nav-link dropdown-toggle">
                        <span class="menu-icon">👤<span> {{username}}
                    </div>
                    <div class="dropdown-menu">
                        <a href="/orders" class="dropdown-item">View Orders</a>
                        <a href="/rentals" class="dropdown-item">My Rentals</a>
                        <a href="/purchases" class="dropdown-item">My Purchases</a>
                        <a href="/logout" class="dropdown-item">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

   
</body>
</html>
